<section class="productRowBG cartPage">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 ">
              <div class="breadcrumbs">
                  <a href="#">Home</a>
                  <a href="#">Checkout</a>
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12">
              <div class=" cartPanel">
                  <div class="cartHead">
                      <h3>Billing Details</h3>
                  </div>
                  <div class="cartBody">
                      <div class="checkoutCol">
                        <form class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Full name *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Country *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Street address *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Town / City *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="State / County *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Postcode / ZIP *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Phone *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Email address *" class="fieldsCss" required>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>

                  <hr>

                  <div class="cartHead">
                      <h3>Shiping Details</h3>
                  </div>
                  <div class="cartBody">
                      <div class="checkoutCol">
                        <form class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Full name *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Country *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Street address *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Town / City *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="State / County *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Postcode / ZIP *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Phone *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" name="" placeholder="Email address *" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea placeholder="Order notes (optional)" class="textareaCss"></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>

                   <hr>

                  <div class="cartHead">
                      <h3>Payment Info</h3>
                  </div>
                  <div class="cartBody">
                      <div class="checkoutCol">
                        <form class="row">
                          <div class="col-md-12">
                            <div class="form-check payOption">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Credit Card <img src="assets/images/payLogo.png" class="cardOptLogo">
                </label>
              </div>
              <div class="form-check payOption">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Debit Card <img src="assets/images/payLogo.png" class="cardOptLogo">
                </label>
              </div>
              <div class="form-check payOption">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Cash On Delivery
                </label>
              </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Card Number</label>
                              <input type="text" name="" placeholder="1234 4567 789 1234" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-8 col-sm-8">
                            <div class="form-group">
                              <label>Expiration Date</label>
                              <div class="expDate">
                                <select>
                                  <option>Month</option>
                                  <option>January</option>
                                  <option>February</option>
                                  <option>March</option>
                                  <option>April</option>
                                  <option>May</option>
                                  <option>June</option>
                                  <option>July</option>
                                  <option>August</option>
                                  <option>September</option>
                                  <option>October</option>
                                  <option>November</option>
                                  <option>December</option>
                                </select>
                                <select>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                  <option>2026</option>
                                  <option>2027</option>
                                  <option>2028</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                              <label class="hide_575">&nbsp;</label>
                              <input type="password" name="" placeholder="CCV" class="fieldsCss" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <p class="not_">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#" routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a>.</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" class="btn_1">Place Order</button>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12">
              <div class="priceDetailPanel">
                  <div class="p_priceHead">
                      <h4>Price Details</h4>
                  </div>
                  <div class="p_priceBody">
                      <table class="table table-borderless">
                          <tbody>
                              <tr>
                                  <td>Price (2 Items)</td>
                                  <td>&#8377;. 600</td>
                              </tr>
                              <tr>
                                  <td>Delivery Fee</td>
                                  <td class="greenText">Free</td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr class="totalAMT_Tr">
                                  <td>Total Amount </td>
                                  <td>&#8377;. 600</td>
                              </tr>
                              <tr>
                                  <td colspan="2" class="saveText">You will save &#8377;. 700 on this order</td>
                              </tr>
                          </tfoot>
                      </table>
                      <!--button type="button" class="btn_1">Place Order</button-->
                      <div class="col-12 p-0">
                      <p class="note__safe">Safe and Secure Payments.Easy returns. 100% Authentic products.</p>
                  </div>
                  </div>
              </div>

          </div>



      </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-6 col-12 lightGreen">
              <h1>FREE SHIPPING ON </h1>
              <h5>ORDER OVER Rs.599</h5>
          </div>
          <div class="col-lg-6 col-sm-6 col-12 darkGreen">
              <h1>HAVE A QUESTIONS?</h1>
              <h5>Toll Free : 1800 121 9377</h5>
          </div>
      </div>
  </div>
</section>
