<!-- productDetail {{productDetail | json}} -->
<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
  <div class="col-12">
  <div class="productBox">
    <span class="productOffer uptoDis"><strong>{{productDetail.offerInPercentage}}%</strong>OFF</span>
    <div class="productImg"><img [src]="productDetail.imageOfProduct"></div>

    <div class="productInfoBTM" *ngIf="withDetail; else withoutDetail">
      <div class="brandName">{{productDetail.brandName}}</div>
      <div class="productTitle">{{productDetail.productTitle}}</div>
      <div class="productPrice">&#8377; {{productDetail.productPrice}} <span class="productOldPrice">&#8377; {{productDetail.productOldPrice}}</span></div>
      <a href="#" class="productBuyNow">Buy Now <img src="assets/images/arrow.svg"></a>
    </div>

    <ng-template #withoutDetail>
      <div class="productInfoBTM text-center">
        <div class="productTitle">{{productDetail.productTitle}}</div>
      </div>
    </ng-template>

  </div>
</div>

<!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
  <div class="productBox">
    <span class="productOffer uptoDis"><strong>10%</strong>OFF</span>
    <div class="productImg"><img src="assets/images/tea.jpg"></div>

    <div class="productInfoBTM text-center">
      <div class="productTitle">Tea</div>
    </div>
  </div>
</div> -->

<!-- @Input() productDetail:{
  offerInPercentage:string;
  imageOfProduct:string;
  brandName:string;
  productTitle:string;
  productPrice:number;
  productOldPrice:number;
}  = {
  offerInPercentage: '0',
  imageOfProduct:'',
  brandName:'',
  productTitle:'',
  productPrice: 300,
  productOldPrice:360,
} -->


<!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
  <a href="#" class="bankBox"><img src="assets/images/bank1.webp"></a>
</div>

<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
  <div class="productBox">
    <span class="productOffer uptoDis"><strong>10%</strong>OFF</span>
    <div class="productImg"><img src="assets/images/cleaning02.jpg"></div>

    <div class="productInfoBTM text-center">
      <div class="productTitle">Liquid Detergent</div>
    </div>
  </div>
</div>


<div>
  <div class="catThumbBox">
    <a href="#">
      <div>
        <img src="assets/images/cat1.png">
        <span>Fruits</span>
      </div>
    </a>
  </div>
</div>

<div class="festiProductHolder">
  <div class="cartOverly">
    <button id="addtocart" class="addtocartAction addtocart addtoBTN"> add to cart <span
        class="cart-item"></span></button>
  </div>
  <span class="productOffer">10%<br>OFF</span>
  <img src="assets/images/friday-product01.png">
</div>

<div class="festiProduct">
  <div class="festiProductHolder">
    <div class="cartOverly">
      <button id="addtocart" class="addtocartAction addtocart addtoBTN"> add to cart <span
          class="cart-item"></span></button>
    </div>
    <img src="assets/images/friday-product02.png">
  </div>
</div>

<div class="festiProduct">
  <div class="festiProductHolder">
    <div class="cartOverly">
      <button id="addtocart" class="addtocartAction addtocart addtoBTN"> add to cart <span
          class="cart-item"></span></button>
    </div>
    <span class="productOffer">10%<br>OFF</span>
    <img src="assets/images/friday-product01.png">
  </div>
</div>

<div class="carousel-item">
  <div class="captionHero">
    <h3>Super</h3>
    <h1>Grocery Sale</h1>
    <p>The best online supermarket<br>
      withe best discounts</p>
    <a href="#" class="orderNowBlack">Order Now</a>
  </div>
  <img src="assets/images/blackFriday.jpg">
</div> -->
