<section class="productRowBG cartPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
        <div class="priceDetailPanel aboutleft">
          <ul class="sideMenu">
            <li><a href="#" class="activeSideMenu" routerLink="/about" routerLinkActive="active">About Yess</a>
              <div class="sideSubMenu">
                <a href="#"> What is yess.com</a>
                <a href="#"> Why shop at Yess?</a>
                <a href="#"> How to order</a>
                <a href="#"> Where we operate</a></div>
            </li>
            <li><a href="#" routerLink="/in-media" routerLinkActive="active">In the Media</a></li>
            <li><a href="#" routerLink="/customer-speak" routerLinkActive="active">Customer Speak</a></li>
            <li><a href="#" routerLink="/green-basket" routerLinkActive="active">Green Yess</a></li>
            <li><a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a href="#" routerLink="/terms-and-conditions" routerLinkActive="active">Terms & Conditions</a></li>
            <li><a href="#" routerLink="/faq" routerLinkActive="active">FAQ's</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a href="#" routerLink="/blogs" routerLinkActive="active">Yess blogNew</a></li>
          </ul>

        </div>

      </div>


      <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
        <div class="aboutBlank">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <h2>Privacy Policy </h2>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <span class="aboutImg1">
                <img src="assets/images/Privacy-Policy.jpg">
              </span>
            </div>
            <div class="col-lg-12 col-md-12 col-12">

              <div class="ppline ">

                <h3 class="title03">Personal Information</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
                <p>standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">What information is, or maybe, collected from you?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">How is the information used?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">With whom your information will be shared</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">What choices are available to you regarding the collection, use and distribution of
                  your information?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">How can you correct inaccuracies in the information?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Policy updates</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12 lightGreen">
        <h1>FREE SHIPPING ON </h1>
        <h5>ORDER OVER Rs.599</h5>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 darkGreen">
        <h1>HAVE A QUESTIONS?</h1>
        <h5>Toll Free : 1800 121 9377</h5>
      </div>
    </div>
  </div>
</section>
