<section class="productRowBG cartPage">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 ">
              <div class="breadcrumbs">
                  <a href="#">Home</a>
                  <a href="#">About</a>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
              <div class="priceDetailPanel aboutleft">
                  <ul class="sideMenu">
                      <li><a href="#" class="activeSideMenu">About Yess</a>
                          <div class="sideSubMenu">
                              <a href="#"> What is yess.com</a>
                              <a href="#"> Why shop at Yess?</a>
                              <a href="#"> How to order</a>
                              <a href="#"> Where we operate</a></div>
                      </li>
                      <li><a href="#">In the Media</a></li>
                      <li><a href="#">Customer Speak</a></li>
                      <li><a href="#">Green Yess</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">FAQ's</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Yess blogNew</a></li>
                  </ul>


              </div>

          </div>
          <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
              <div class="aboutBlank">

                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                          <h2>What is yess.com</h2>
                      </div>
                      <div class="col-lg-4 col-md-12 col-12">
                          <span class="aboutImg1">
                              <img src="assets/images/about.png">
                          </span>
                      </div>
                      <div class="col-lg-8 col-md-12 col-12">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                              unknown printer
                              took a galley of type and scrambled it to make a type specimen book. It has survived
                              not only five
                              centuries, but also the leap into electronic typesetting, remaining essentially
                              unchanged. It
                              was popularised in the 1960s with the release of Letraset sheets containing Lorem
                              Ipsum
                              passages, and more recently with desktop publishing software like Aldus PageMaker
                              including
                              versions of Lorem Ipsum.</p>
                          <p>It is a long established fact that a reader will be distracted by the readable
                              content of a
                              page when looking at its layout. The point of using Lorem Ipsum is that it has a
                              more-or-less normal distribution of letters, as opposed to using 'Content here,
                              content here', making it
                              look like readable English. Many desktop publishing packages and web page editors
                              now use
                              Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                              many web sites
                              still in their infancy.</p>
                      </div>
                  </div>



                  <div class="row mt30">
                      <div class="col-lg-12 col-md-12 col-12">
                          <h2>Why should I use yess.com?</h2>
                      </div>
                      <div class="col-lg-8 col-md-12 col-12">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                              unknown printer
                              took a galley of type and scrambled it to make a type specimen book. It has survived
                              not only five
                              centuries, but also the leap into electronic typesetting, remaining essentially
                              unchanged. It
                              was popularised in the 1960s with the release of Letraset sheets containing Lorem
                              Ipsum
                              passages, and more recently with desktop publishing software like Aldus PageMaker
                              including
                              versions of Lorem Ipsum.</p>

                      </div>
                      <div class="col-lg-4 col-md-12 col-12">
                          <span class="aboutImg1">
                              <img src="assets/images/yess-about-2.jpg">
                          </span>
                      </div>

                  </div>

                  <div class="row mt30">
                      <div class="col-lg-12 col-md-12 col-12">
                          <h2>How do I order? </h2>
                      </div>

                      <div class="howtorow">
                          <div class="col-lg-6 col-md-12 col-12 howtozigzag">
                              <div class="howtostyle">
                                  <span>1</span>
                                  <p>Browse yess.com for products or use the search feature</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-12 col-12">
                              <img src="assets/images/abouthowto-01.png">
                          </div>
                      </div>

                      <div class="howtorow">
                          <div class="col-lg-6 col-md-12 col-12 order1">
                              <img src="assets/images/abouthowto-02.png">
                          </div>
                          <div class="col-lg-6 col-md-12 col-12 howtozigzag">
                              <div class="howtostyle">
                                  <span>2</span>
                                  <p>Add item to your Shopping Basket</p>
                              </div>
                          </div>
                      </div>



                      <div class="howtorow">
                          <div class="col-lg-6 col-md-12 col-12 howtozigzag">
                              <div class="howtostyle">
                                  <span>3</span>
                                  <p>Choose a convenient delivery time from our 4 Slots* a day</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-12 col-12">
                              <img src="assets/images/abouthowto-03.png">
                          </div>
                      </div>

                      <div class="howtorow">
                          <div class="col-lg-6 col-md-12 col-12 order1">
                              <img src="assets/images/abouthowto-04.png">
                          </div>
                          <div class="col-lg-6 col-md-12 col-12 howtozigzag">
                              <div class="howtostyle">
                                  <span>4</span>
                                  <p>Select suitable payment option(Cash, Sodexo, Credit Card)</p>
                              </div>
                          </div>
                      </div>

                      <div class="howtorow">
                          <div class="col-lg-6 col-md-12 col-12 howtozigzag">
                              <div class="howtostyle">
                                  <span>5</span>
                                  <p>Your products will be home-delivered as per your order.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-12 col-12">
                              <img src="assets/images/abouthowto-05.png">
                          </div>
                      </div>


                  </div>

                  <div class="row mt30">
                      <div class="col-lg-12 col-md-12 col-12">
                          <h2>Where do we operate</h2>

                          <p>We currently offer our services in Bangalore, Hyderabad, Mumbai, Pune, Chennai,
                              Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
                              Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and
                              Chandigarh Tricity city limits.</p>
                      </div>


                  </div>



              </div>

          </div>




      </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-6 col-12 lightGreen">
              <h1>FREE SHIPPING ON </h1>
              <h5>ORDER OVER Rs.599</h5>
          </div>
          <div class="col-lg-6 col-sm-6 col-12 darkGreen">
              <h1>HAVE A QUESTIONS?</h1>
              <h5>Toll Free : 1800 121 9377</h5>
          </div>
      </div>
  </div>
</section>
