<section class="productRowBG cartPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
        <div class="priceDetailPanel aboutleft">
          <ul class="sideMenu">
            <li><a href="#" class="activeSideMenu" routerLink="/about" routerLinkActive="active">About Yess</a>
              <div class="sideSubMenu">
                <a href="#"> What is yess.com</a>
                <a href="#"> Why shop at Yess?</a>
                <a href="#"> How to order</a>
                <a href="#"> Where we operate</a></div>
            </li>
            <li><a href="#" routerLink="/in-media" routerLinkActive="active">In the Media</a></li>
            <li><a href="#" routerLink="/customer-speak" routerLinkActive="active">Customer Speak</a></li>
            <li><a href="#" routerLink="/green-basket" routerLinkActive="active">Green Yess</a></li>
            <li><a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a href="#" routerLink="/terms-and-conditions" routerLinkActive="active">Terms & Conditions</a></li>
            <li><a href="#" routerLink="/faq" routerLinkActive="active">FAQ's</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a href="#" routerLink="/blogs" routerLinkActive="active">Yess blogNew</a></li>
          </ul>

        </div>

      </div>


      <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
        <div class="aboutBlank">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <h2>FAQ</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <span class="aboutImg1">
                <img src="assets/images/Privacy-Policy.jpg">
              </span>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <h2 class="title03">Registration
              </h2>
            </div>
            <div class="col-lg-12 col-md-12 col-12 faq-section">

              <div class="faq" id="accordion">
                <div class="card">
                  <div class="card-header" id="faqHeading-1">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1"
                        data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                        <span class="badge">1</span> How do I register?
                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                    <div class="card-body">
                      <p>You can register by clicking on the "Register" link at the top right
                        corner of the homepage. Please provide the information in the form
                        that appears. You can review the terms and conditions, provide your
                        payment mode details and submit the registration information.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-2">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                        <span class="badge">2</span> Are there any charges for registration?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                    <div class="card-body">
                      <p>No. Registration on bigbasket.com is absolutely free.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-3">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                        <span class="badge">3</span> Do I have to necessarily register to
                        shop on bigbasket?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                    <div class="card-body">
                      <p>You can surf and add products to the cart without registration but
                        only registered shoppers will be able to checkout and place orders.
                        Registered members have to be logged in at the time of checking out
                        the cart, they will be prompted to do so if they are not logged in.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-4">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                        <span class="badge">4</span> Can I have multiple registrations?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                    <div class="card-body">
                      <p>Each email address and contact phone number can only be associated
                        with one bigbasket account.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-5">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                        <span class="badge">5</span> Can I add more than one delivery
                        address in an account?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                    <div class="card-body">
                      <p>Yes, you can add multiple delivery addresses in your bigbasket
                        account. However, remember that all items placed in a single order
                        can only be delivered to one address. If you want different products
                        delivered to different address you need to place them as separate
                        orders.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-6">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                        <span class="badge">6</span> Can I have multiple accounts with same
                        mobile number and email id?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                    <div class="card-body">
                      <p>Each email address and phone number can be associated with one
                        BigBasket account only.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-7">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                        <span class="badge">7</span> Can I have multiple accounts for
                        members in my family with different mobile number and email address
                        but same or common delivery address?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                    <div class="card-body">
                      <p>Yes, we do understand the importance of time and the toil involved in
                        shopping groceries. Up to three members in a family can have the
                        same address provided the email address and phone number associated
                        with the accounts are unique.

                      </p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="faqHeading-8">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8"
                        data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                        <span class="badge">8</span> Can I have different city addresses
                        under one account and still place orders for multiple cities?


                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                    <div class="card-body">
                      <p> Yes, you can place orders for multiple cities.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-12">
              <h2 class="title03">Account Related

              </h2>
            </div>
            <div class="col-lg-12 col-md-12 col-12 faq-section">

              <div class="faq" id="accordion">
                <div class="card">
                  <div class="card-header" id="faqHeading-9">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9"
                        data-aria-expanded="true" data-aria-controls="faqCollapse-9">
                        <span class="badge">1</span> What is My Account?

                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                    <div class="card-body">
                      <p> My Account is the section you reach after you log in at
                        bigbasket.com. My Account allows you to track your active orders,
                        credit note details as well as see your order history and update
                        your contact details.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-10">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-10"
                        data-aria-expanded="true" data-aria-controls="faqCollapse-10">
                        <span class="badge">2</span> How do I reset my password?


                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-10" data-parent="#accordion">
                    <div class="card-body">
                      <p> You need to enter your email address on the Login page and click on
                        forgot password. An email with a reset password will be sent to your
                        email address. With this, you can change your password. In case of
                        any further issues please contact our customer support team.



                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqHeading-11">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-11"
                        data-aria-expanded="true" data-aria-controls="faqCollapse-11">
                        <span class="badge">3</span> What are credit notes & where can I see
                        my credit notes?



                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-11" class="collapse" aria-labelledby="faqHeading-11" data-parent="#accordion">
                    <div class="card-body">
                      <p>Credit notes reflect the amount of money which you have pending in
                        your bigbasket account to use against future purchases. This is
                        calculated by deducting your total order value minus undelivered
                        value. You can see this in "My Account" under credit note details.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="faqHeading-12">
                    <div class="mb-0">
                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-12"
                        data-aria-expanded="true" data-aria-controls="faqCollapse-12">
                        <span class="badge">3</span> What is My Shopping List?




                      </h5>
                    </div>
                  </div>
                  <div id="faqCollapse-12" class="collapse" aria-labelledby="faqHeading-12" data-parent="#accordion">
                    <div class="card-body">
                      <p>My Shopping List is a comprehensive list of all the items previously ordered by you on
                        bigbasket.com. This enables you to shop quickly and easily in future.


                      </p>
                    </div>
                  </div>
                </div>


              </div>
            </div>


          </div>



        </div>

      </div>

    </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12 lightGreen">
        <h1>FREE SHIPPING ON </h1>
        <h5>ORDER OVER Rs.599</h5>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 darkGreen">
        <h1>HAVE A QUESTIONS?</h1>
        <h5>Toll Free : 1800 121 9377</h5>
      </div>
    </div>
  </div>
</section>
