<section class="productRowBG cartPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
        <div class="priceDetailPanel aboutleft">
          <ul class="sideMenu">
            <li><a href="#" class="activeSideMenu" routerLink="/about" routerLinkActive="active">About Yess</a>
              <div class="sideSubMenu">
                <a href="#"> What is yess.com</a>
                <a href="#"> Why shop at Yess?</a>
                <a href="#"> How to order</a>
                <a href="#"> Where we operate</a></div>
            </li>
            <li><a href="#" routerLink="/in-media" routerLinkActive="active">In the Media</a></li>
            <li><a href="#" routerLink="/customer-speak" routerLinkActive="active">Customer Speak</a></li>
            <li><a href="#" routerLink="/green-basket" routerLinkActive="active">Green Yess</a></li>
            <li><a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a href="#" routerLink="/terms-and-conditions" routerLinkActive="active">Terms & Conditions</a></li>
            <li><a href="#" routerLink="/faq" routerLinkActive="active">FAQ's</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a href="#" routerLink="/blogs" routerLinkActive="active">Yess blogNew</a></li>
          </ul>

        </div>

      </div>

      <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
        <div class="aboutBlank">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <h2>Terms and Conditions</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <span class="aboutImg1">
                <img src="images/terms.jpg">
              </span>
            </div>
            <div class="col-lg-12 col-md-12 col-12">

              <div class="ppline ">

                <h3 class="title03">Personal Information</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
                <p>standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Services overview</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Eligibility</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">License & Site access</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Account & Registration Obligations</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Pricing</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Cancellation by Site / Customer</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>

              </div>
              <div class="ppline ">
                <h3 class="title03">Return & Refunds</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
              </div>
              <div class="ppline ">
                <h3 class="title03">You Agree and Confirm</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
              </div>
              <div class="ppline ">
                <h3 class="title03">You may not use the Site for any of the following purposes:</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
              </div>
              <div class="ppline ">
                <h3 class="title03">Colours</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the
                  1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five centuries</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12 lightGreen">
        <h1>FREE SHIPPING ON </h1>
        <h5>ORDER OVER Rs.599</h5>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 darkGreen">
        <h1>HAVE A QUESTIONS?</h1>
        <h5>Toll Free : 1800 121 9377</h5>
      </div>
    </div>
  </div>
</section>
