<section class="productRowBG cartPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
        <div class="priceDetailPanel aboutleft">
          <ul class="sideMenu">
            <li><a href="#" class="activeSideMenu" routerLink="/about" routerLinkActive="active">About Yess</a>
              <div class="sideSubMenu">
                <a href="#"> What is yess.com</a>
                <a href="#"> Why shop at Yess?</a>
                <a href="#"> How to order</a>
                <a href="#"> Where we operate</a></div>
            </li>
            <li><a href="#" routerLink="/in-media" routerLinkActive="active">In the Media</a></li>
            <li><a href="#" routerLink="/customer-speak" routerLinkActive="active">Customer Speak</a></li>
            <li><a href="#" routerLink="/green-basket" routerLinkActive="active">Green Yess</a></li>
            <li><a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a href="#" routerLink="/terms-and-conditions" routerLinkActive="active">Terms & Conditions</a></li>
            <li><a href="#" routerLink="/faq" routerLinkActive="active">FAQ's</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a href="#" routerLink="/blogs" routerLinkActive="active">Yess blogNew</a></li>
          </ul>

        </div>

      </div>

      <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
        <div class="aboutBlank">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h2>Green Basket</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="aboutImg1">
                        <img src="assets/images/Greenbasket.jpg">
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">


                    <div class="row mt30">
                        <div class="col-lg-12 col-md-12 col-12">
                            <p>Being green is part of the culture at bigbasket. An offline grocery store requires stocks to move from a regional distribution centre to the individual stores, and then someone from each family has to make multiple trips to the store to do their shopping.</p>


                        </div>

                        <div class="howtorow greenbasket">
                            <div class="col-lg-5 col-md-12 col-12">
                                <img src="assets/images/idea-icon.jpg">
                            </div>
                            <div class="col-lg-7 col-md-12 col-12 howtozigzag">
                                <div class="howtostyle">
                                    <p>Supermarkets consume a lot of energy for lighting, air-conditioning and powering their refrigerators and freezers. We bypass these, bringing products to you straight from the wholesaler to your doorstep which cuts down on a lot of carbon emissions generated by the traditional supply chain and also reduces the number of cars on our roads.</p>
                                </div>
                            </div>

                        </div>

                        <div class="howtorow greenbasket">

                            <div class="col-lg-7 col-md-12 col-12 howtozigzag">
                                <div class="howtostyle">

                                    <p>We minimize the use paper and plastic bags while delivering our products, all products are delivered in crates which are taken back and reused. Our fruit and vegetable trays are recyclable and we request our customers to return them to us so that we can reuse them.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-12 order1">
                                <img src="assets/images/greenbasket2.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12 lightGreen">
        <h1>FREE SHIPPING ON </h1>
        <h5>ORDER OVER Rs.599</h5>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 darkGreen">
        <h1>HAVE A QUESTIONS?</h1>
        <h5>Toll Free : 1800 121 9377</h5>
      </div>
    </div>
  </div>
</section>
