<section class="productRowBG cartPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 ">
        <div class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">About</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 aboutLeftWrap">
        <div class="priceDetailPanel aboutleft">
          <ul class="sideMenu">
            <li><a href="#" class="activeSideMenu" routerLink="/about" routerLinkActive="active">About Yess</a>
              <div class="sideSubMenu">
                <a href="#"> What is yess.com</a>
                <a href="#"> Why shop at Yess?</a>
                <a href="#"> How to order</a>
                <a href="#"> Where we operate</a></div>
            </li>
            <li><a href="#" routerLink="/in-media" routerLinkActive="active">In the Media</a></li>
            <li><a href="#" routerLink="/customer-speak" routerLinkActive="active">Customer Speak</a></li>
            <li><a href="#" routerLink="/green-basket" routerLinkActive="active">Green Yess</a></li>
            <li><a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a href="#" routerLink="/terms-and-conditions" routerLinkActive="active">Terms & Conditions</a></li>
            <li><a href="#" routerLink="/faq" routerLinkActive="active">FAQ's</a></li>
            <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            <li><a href="#" routerLink="/blogs" routerLinkActive="active">Yess blogNew</a></li>
          </ul>

        </div>

      </div>


      <div class="col-lg-9 col-md-9 col-sm-12  col-12 aboutRight">
        <div class="aboutBlank">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h2>Testimonials from our customers
                    </h2>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                     <div class="TestiVideo">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ViHvvrlx8VI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">

                    <div id="content" class="testimonialSectionPage">

                                <div id="column-left">

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </article>
                                    </div>

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                            in reprehenderit in voluptate.
                                        </article>
                                    </div>

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </article>
                                    </div>

                                </div>

                                <div id="column-right">

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi.
                                        </article>
                                    </div>

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim
                                            ad tion ullamco laboris nisi.
                                        </article>
                                    </div>

                                    <div class="testimonial-wrap">
                                        <article>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                            tation ullamco laboris nisi dolore magna aliqua. Ut enim ad
                                            minim veniam, quis nostrud exercitation ullamco laboris nisi.
                                        </article>
                                    </div>

                                </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    </div>
  </div>
</section>

<section class="footerGreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12 lightGreen">
        <h1>FREE SHIPPING ON </h1>
        <h5>ORDER OVER Rs.599</h5>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 darkGreen">
        <h1>HAVE A QUESTIONS?</h1>
        <h5>Toll Free : 1800 121 9377</h5>
      </div>
    </div>
  </div>
</section>
